<%- include('../partials/header') %>

<h3><%= title %></h3>
<table id="list">
  <thead>
    <tr>
      <th>Player Name</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <% players.forEach(function(p) { %>
    <tr>
      <td><%= p.playerName %></td>
      <td><%= p.position %></td>
      <td><a href="/players/<%= p._id %>">DETAILS</a></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
